<h1 class="title">Catálogo de Servicios</h1>
 
<div class="table-container">
  <table class="catalog-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Categoría</th>
        <th>Proveedor</th>
        <th>Servicio</th>
        <th>Plan</th>
        <th>Detalles</th>
        <th>Precio</th>
        <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of catalog">
        <td>{{ item.id }}</td>
        <td>{{ item['categoría'] }}</td>
        <td>{{ item.proveedor }}</td>
        <td>{{ item.servicio }}</td>
        <td>{{ item.plan }}</td>
        <td>{{ item['velocidad/detalles'] }}</td>
        <td>{{ item['precio mensual'] }}</td>
        <td>{{ item.estado }}</td>
      </tr>
    </tbody>
  </table>
</div>